body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
    background-color: rgb(232, 255, 232);
    transition: 500ms;
}
.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: rgba(0, 128, 0, 0.815);
    font-size: x-large;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 15vh;
    background-color: #cfcfcf;   
        
}
.option{    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: large;
    background-color: lightgreen;
    border-radius: 25%;
}
.option:hover{
    background-color: yellow;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}
  
.evaluate,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.evaluate{
    
    background-color: lightgreen;
}
.next{
    color: white;
    background-color: #BF3325;
}

.dark-mode {
  background-color: black;
  color: white;
  transition: 500ms;
}

.toggle {
    background-color: red;
    border-radius: 40px;
    height: 6vh;
}